@model System.Data.DataTable
@using System.Data;
@{
    ViewData["Title"] = "PostAjouterPrescription";
}

<h1>Reponsse  Ajouter Prescription</h1>



@if (ViewBag.Reponsse != true)
{
    <h3>Echec de l'ajout' </h3>
}


@if (ViewBag.Reponsse == true)
{
    <h3>Reussite  de l'ajout </h3>
}