
@{
    ViewData["Title"] = "PostModifierPrescription";
}

@if (ViewBag.Reponsse != true)
{
    <h3>Echec de la Modification' </h3>
}


@if (ViewBag.Reponsse == true)
{
    <h3>Reussite  de la Modification  </h3>
}