@{
    ViewData["Title"] = "Home Page";
}

<div>
    <center><h1><font color="#A2EA80">G</font><font color="#636262">alaxy</font> <font color="#A2EA80">S</font><font color="#636262">wiss</font>  <font color="#A2EA80">B</font><font color="#636262">ourdin</font> </h1></center>

</div>